<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnowCloudDrive</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/index.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SnowCloudDrive</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的文件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">上传文件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">设置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">我的文件</li>
        </ol>
    </nav>

    <h1 class="text-center mb-4">我的文件</h1>

    <div class="mb-3 text-end">
        <button class="btn btn-success" style="background-color: #4eb7ad" data-bs-toggle="modal" data-bs-target="#createFolderModal">新建文件夹</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- 文件夹和文件示例 -->
            <div class="item" onclick="openFolder('文件夹1')">
                <div class="item-name">文件夹1</div>
                <div>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#renameModal">重命名</button>
                    <button class="btn btn-danger btn-sm">删除</button>
                </div>
            </div>
            <div class="item" onclick="openFolder('文件夹2')">
                <div class="item-name">文件夹2</div>
                <div>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#renameModal">重命名</button>
                    <button class="btn btn-danger btn-sm">删除</button>
                </div>
            </div>
            <div class="item">
                <div class="file-info">
                    <div class="item-name">文件名.txt</div>
                    <div>
                        <span class="me-2">文件大小: 15 KB</span>
                        <button class="btn btn-primary btn-sm">下载</button>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#renameModal">重命名</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="file-info">
                    <div class="item-name">图片.png</div>
                    <div>
                        <span class="me-2">文件大小: 200 KB</span>
                        <button class="btn btn-primary btn-sm">下载</button>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#renameModal">重命名</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="file-info">
                    <div class="item-name">文档.pdf</div>
                    <div>
                        <span class="me-2">文件大小: 1.2 MB</span>
                        <button class="btn btn-primary btn-sm">下载</button>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#renameModal">重命名</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderModalLabel">新建文件夹</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="folderName" class="form-label">文件夹名称</label>
                        <input type="text" class="form-control" id="folderName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="createFolder">创建</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">重命名</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newName" class="form-label">新名称</label>
                        <input type="text" class="form-control" id="newName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">重命名</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>